.gitignore
.exercism
.mono
.vs
.fake

/clojure/*/target/
/clojure/*/.lein-failures

/csharp/*/bin/
/csharp/*/obj/

/elm/*/elm-stuff/

/fsharp/*/bin/
/fsharp/*/obj/

/java/*/bin/

/python/*/__pycache__/