.idea/
.mono
.vs
.fake
*.sln

/.vscode/

.clj-kondo/
.lsp/
/clojure/*/.clj-kondo
/clojure/*/.cpcache
/clojure/*/.lsp
/clojure/*/target/
/clojure/*/.lein-failures
/clojure/*/.lein-repl-history
/clojure/*/.nrepl-port

/csharp/*/bin/
/csharp/*/obj/
/csharp/*/*.sln

/elm/*/elm-stuff/

/fsharp/*/bin/
/fsharp/*/obj/
/fsharp/*/*.sln

/haskell/*/.stack-work/

/java/*/bin/
/java/*/build/
/java/*/.gradle/

/kotlin/*bin/
/kotlin/*/build
/kotlin/*/.gradle

/python/*/__pycache__/
/python/.pytest_cache/

node_modules/
/**/bin/configlet
/**/bin/configlet.exe
/typescript/*/pnpm-lock.yaml
package-lock.json
/typescript/*/yarn.lock
/typescript/*/.pnp.cjs
/typescript/*/.pnp.loader.mjs
# /typescript/*/.yarn/cache
# /typescript/*/.yarn/unplugged
# /typescript/*/.yarn/install-state.gz
/typescript/*/.yarn/*
!/typescript/*/.yarn/releases

/ocaml/*/_build/

_build
